.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $container-padding-y $container-padding-x;
    border: 1px solid $gray;
    
    .login-button{
        @include btn-variant($primary-color,$body-bg,60px,30px)
    }

    .register-button{
        @include btn-variant($white,$primary-color,60px,30px)
    }
}