.main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-login{
        border: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        height: 60%;
        width: 25%;

        .form-login-title{
            @include heading(30px);
        }

        .form-input{
            height: 20%;
            width: 100%;
            border: none;
            border-bottom: 1px solid $border-color;
            background-color: transparent;
            color: $gray;
        }

        .form-link{
            color: $primary-color;
            text-decoration: none;
            align-self: flex-start;
            margin: 1em 0;
        }
        
        .form-or{
            padding: 1em;
        }

        @extend .from-button-style
    }
}